<div class="welcome-side-bar">
	<div class="filler-medium"></div>
	<center>
  		<img class="welcome-logo" src="<%= asset_path('logo.png') %>">
  	</center>
	<h3>Hi Kevin!</h3>
	<ul class="welcome-nav-links">
		<li>All Boards</li>
		<li>New Board</li>
		<li>Settings</li>
		<li>Sign Out</li>
	</ul>

</div>

<div class="welcome-content-container">

<div class="welcome-message">
<h4>Your Boards</h4>


<div class="grid">
	<figure class="effect">
		<img class="grid-img" src="https://maps.googleapis.com/maps/api/staticmap?center=37.30925,-122.0436444&zoom=11&size=350x350"/>
		<figcaption>
			Board Title
			<p class="icon-links">
				<a href="#">X &nbsp; &nbsp;</a>
				<a href="#">X &nbsp; &nbsp;</a>
				<a href="#">X &nbsp; &nbsp;</a>
				<a href="#">X &nbsp; &nbsp;</a>
			</p>
			<p class="description">Here is a description!</p>
		</figcaption>			
	</figure>
</div>


<div class="grid">
	<figure class="effect">
		<img class="grid-img" src="https://maps.googleapis.com/maps/api/staticmap?center=37.871899,-122.25854&zoom=12&size=350x350"/>
		<figcaption>
			Board Title
			<p class="icon-links">
				<a href="#">X &nbsp; &nbsp;</a>
				<a href="#">X &nbsp; &nbsp;</a>
				<a href="#">X &nbsp; &nbsp;</a>
				<a href="#">X &nbsp; &nbsp;</a>
			</p>
			<p class="description">Here is a description!</p>
		</figcaption>			
	</figure>
</div>

<div class="grid">
	<figure class="effect">
		<img class="grid-img" src="https://maps.googleapis.com/maps/api/staticmap?center=-15.800513,-47.91378&zoom=11&size=350x350"/>
		<figcaption>
			Board Title
			<p class="icon-links">
				<a href="#">X &nbsp; &nbsp;</a>
				<a href="#">X &nbsp; &nbsp;</a>
				<a href="#">X &nbsp; &nbsp;</a>
				<a href="#">X &nbsp; &nbsp;</a>
			</p>
			<p class="description">Here is a description!</p>
		</figcaption>			
	</figure>
</div>

</div>

</div>