<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
      var map = null;

      function initialize() {
        var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
        var mapOptions = {
          zoom: 4,
          center: myLatlng
        }

      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      }

      function loadPin(title, latitude, longitude) {
        var marker = new google.maps.Marker({
          map: map,
          position: new google.maps.LatLng(latitude, longitude),
          title: title
        });
      }
    </script>
  </head>

  <body>
    <div id="map-canvas"></div>

    <li><img src="http://s29.postimg.org/gmujanqeb/transparent.png" onload="initialize()"> </li>
    <li><img src="http://s29.postimg.org/gmujanqeb/transparent.png" onload="loadPin('title 1', 37, -122)"> </li>
    <li><img src="http://s29.postimg.org/gmujanqeb/transparent.png" onload="loadPin('title 2', 45, -130)"> </li>
  </body>
</html>