@import "variables.css.scss";

body, html {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  float: left;
  overflow: auto;
  background: #fff;
  width: 100%;
  text-align: center;
}

.content {
  padding: 50px;
  width: 600px;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: $black;
}

h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: $black;
}

p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: $dark-blue;
}

.white {
  color: #fff;
}

.button {
  display: inline-block;
  margin: auto;
  padding: 15px 25px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 400;
  background: $dark-blue;
  margin-top: 15px;
  color: #fff;
  border: none;
  &:hover {
    cursor: pointer;
    background: darken($dark-blue, 20);
  }
}

.gray-bg {
  background: $blue;
}

.bg1 {
  background: $primary-color;
}

.bg1:hover {
  background: darken($primary-color, 20);
}

.bg2 {
  background: $secondary-color;
}

.bg2:hover {
  background: darken($secondary-color, 20);
}

#flash_notice {
  position: absolute;
  z-index: 1001;
  top: 10px;
  left: 25px;
  padding: 15px 25px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  background: $blue;
  border-radius: 6px;
  margin-top: 15px;
  color: #fff;
  border: none;
  transition: 1s;
  opacity: 1;
}