h3 {
	color: #d5dee5;
	padding: 20px 10px;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
  	font-family: 'Montserrat', sans-serif;
}

h4 {
  	font-family: 'Montserrat', sans-serif;	
  	margin-bottom: 15px;
}

.filler-small {
	height: 30px;
}

.filler-medium {
	height: 50px;
}

.filler-large {
	height: 70px;
}

.welcome-logo {
	height: 60px;
	width: 60px;
}

.welcome-header {
	left: 220px;
	position: fixed;
	background: #fafafa;
	border-bottom: 1px solid #ccc;
	width: 100%;
	height: 70px;
}

.welcome-side-bar {
	z-index: 1000;
	color: #8691a3;
	font-weight: normal;
	position: fixed;
	background: #354052;
	width: 220px;
	height: 100%;
}

.welcome-nav-links {
	margin-top: 20px;
	border-top: 1px solid #2f3849;
	border-bottom: 1px solid #2f3849;
	display: block;
	list-style: none;
}

.welcome-nav-links li {
	border-left: 2px solid #354052;
	padding: 10px;
	font-weight: 300;
	font-size: 14px;
}

.welcome-nav-links li:hover {
	border-left: 2px solid #43babc;
	background: #2f3849;
}

.welcome-content-container {
	font-size: 14px;
	padding: 40px;
	margin-left: 220px;
}

.welcome-grid {
	overflow: hidden;
	height: 200px;
	width: 200px;
	background: #eee;
	margin: 10px 10px 0px 0px;
	float: left;
}

